.reveal .flex {
    display: flex !important;
    align-items: center;
}

.reveal .flex div {
    text-align: center;
}

.reveal .flex .left-20 { line-height: 0; }
.reveal .flex .left-30 { line-height: 0; }
.reveal .flex .left-40 { line-height: 0; }
.reveal .flex .left-50 { line-height: 0; }
.reveal .flex .left-60 { line-height: 0; }
.reveal .flex .left-70 { line-height: 0; }
.reveal .flex .left-80 { line-height: 0; }

.reveal .flex.r-left-aligned .right-50 {
    text-align: left;
}

.highlight{
    color: #fdf479;
}

a {
    font-size: .3em !important;
}